

.reg-form{
    margin-left: 10px;
}

.reg-input-style {
    border: none;
    width: 65%;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    border-bottom: 2px solid steelblue;
    background: none;
}

::placeholder{
    color: steelblue;
}

.reg-input-style:focus {
    outline: none;
    /* font-size: 16px; */
    border-bottom: 2px solid grey;
}

.btn-sign-up {
    display: block;
    margin: 25px 10px;
    width: 70%;
    height: 50px;
    padding: 5px 15px 5px 15px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f1f1f1;
    box-shadow: 0 5px 5px 1px rgb(141, 220, 201);
    background-image: linear-gradient(to top right, rgb(34,234, 234), rgb(37,48,68));
}

.btn-sign-up:hover {
    background-image: linear-gradient(to top right, rgb(42, 219, 178), rgb(37,48,68));
}