
.headline-text {
    min-height: 20vh;
    background-color: rgb(196, 196, 196, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-text p {
    font-size: 38px;
    font-weight: 500;
}

.top-rated {
    background-color: #3B3B5B;
    min-height: 70vh;
    padding: 20px;
}

.top-rated p {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

.regular-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* margin: 20px; */
}

.showProfessionals {
    margin: 50px;
    display: inline-grid;
    column-gap: 170px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.rated-electrician-button{
    padding: 12px;
    background-color: #F84545;
    color: white;
    border: none;
    border-radius: 3px;
    width: 180px;
    font-size: 18px;
}

.get-started-container {
    height: 30vh;
    background-color: rgb(47, 39, 71, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 40px;
    color: white;
}

.get-started-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.hire-now {
    color: white;
    background-color: #F84545;
    border: none;
    padding: 8px 25px;
    margin: 0px 20px;
    border-radius: 3px;
}

.text-button {
    color: #f1f1f1f1;
    background-color: transparent;
    border: 1px solid #F99D15;
    padding: 8px 20px;
    margin: 0px 20px;
    border-radius: 3px;
}

body {
    background-color: #ffffff;
}