.profile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: center; */
}

.profile-intro-card {
    flex: 30%;
    background: #F1F1F1;
    margin: 30px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-description-container {
    flex: 70%;
    /* height: 2578px; */
    background: #F7F3F3;
    margin: 30px 10px;
}


.cover-image {
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 200px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.first-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.09em;
    color: #000000;
}

.job-type {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 0.09em;
}

.ratings-reviews {
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    align-items: center;
}

.rating-letter {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 0%;
    /* or 0px */

    letter-spacing: 0.09em;

    color: #000000;
}

.reviews {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0%;
    display: block;
    /* or 0px */

    letter-spacing: 0.09em;

    color: #000000;
}

.message-container {
    display: flex;
    align-items: center;
}

.message-button {
    background: #5E6181;
    border: none;
    height: 94px;
    width: 200px;
    color: white;
    border-radius: 5px;
    font-family: 'Open Sans';
    margin: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}

.menubar {
    margin: 5px;
    background: #F4F1F1;
}

.user-rate-container {
    margin-top: 200px;
    padding: 10px 0px;
    width: 100%;
    border-top: 1px solid #000000;
    display: block;
}

.user-rate-container p {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.09em;
    color: #000000;

}

.about-user {
    margin: 20px;
    padding: 30px 30px;
    border-bottom: 1px solid #000000;
}


.title-style {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}

.role {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 2em;
    color: #000000;
}

.description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5em;
    color: rgb(0, 0, 0, 0.8);
}

.skills-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.experties {
    margin: 20px;
    padding: 30px;
    border-bottom: 1px solid #000000 ;
}

.experties-description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5em;
    color: rgb(0, 0, 0, 0.8);
}

.reviews-customer-container {
    margin: 20px;
    padding: 30px;
}

.reviews-title {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
}


