
.label-header {
    font-size: 24px;
    color: rgb(65, 63, 63);
    margin-left: 10px;
}

.mr {
    margin-right: 5rem;
}




.auth-details {
    margin: auto;
    position: absolute;
    display: flex;
    top: 20%;
    left: 20%;
    width: 65%;
    min-height: 70%;
    /* padding: 10px; */
    border: 1px solid black;
}

.auth-part1{
    flex-grow: 2;
    order: 1;
    flex: 0 0 50%;
}

.auth-part2 {
    background-image: url(../../../assets/home_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 2;
    order: 2;
}


.auth-headers {
    display: flex;
    margin: 20px 30px;
}

.custom-logo{
    margin: 10px;
    background-image: url(../../../assets/HandsforHireLogo.png);
    flex: 0 0 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-btn{
    cursor: pointer;
    margin: 20px 15px 5px 15px;
    color: rgb(88, 190, 190);
}

.text-btn:hover{
    color: grey;
    font-size: 18px;
}



.auth-body {
    margin: auto;
    width: 70%;
    padding: 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.switch-user {
    color: #6C6A6A;
    margin-top: 3rem;
    margin-right: 3rem; 
    text-align: center;
    cursor: pointer;
}
