

.carousel-container {
    min-height: 80vh;
}



.carousel-details {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.carousel-section1 {
    display: flex;
    flex-direction: column;
    flex: 50%;
    height: 100%;
    /* background-color: orange; */
    padding: 10px;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.carousel-section1-item1 {
    width: 150px;
    height: 250px;
    border-radius: 100px;
    object-fit: cover;
}

.profile-image {
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 250px;
    background-position: center;
}

.profile-name {
    font-size: 30px;
    margin-top: 5px;
    color: #000;
}

.job {
    font-size: 24px;
    color: rgb(0, 0, 0, 0.5);
}

.profile-description {
    text-align: start;
    font-size: 18px;
    text-indent: 4em;
    line-height: 2em;
    padding: 5px;
    color: #000;
}

.carousel-section2{
    flex: 60%;
    /* background-color: blue; */
    height: 100%;
    padding-top: 20px;
}