
.box{
    background-color: #ffffff;
    height: auto;
    min-height: 100vh;
    width: auto;
    padding-bottom: 10px;
    /* margin: 1rem 2rem 1rem 2rem; */
    box-shadow: 1px 3px 2px 1px rgb(223, 219, 219);
}

.box-header {
    /* margin: 12px; */
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(190, 186, 186);
}

.b-header-item1 {
    flex-grow: 2;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0, 0.6);
}

.b-header-item2 {
    flex-grow: 2;
    padding: 10px;
    text-align: right;
    color: rgb(0, 0, 0, 0.6);
    font-size: 20px;
}

.box-body{
    margin: 2rem 1rem 2rem 1rem;
}


.empty-msg {
    display: block;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.empty-msg p {
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0, 0.6);
    margin-right: 10px;
}